{% extends 'gastro_app/navbar.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Dowozów Gastronomicznych</title>
    <!-- Dodaj linki do stylów CSS tutaj -->
</head>
<body>

<!-- Niestandardowy nagłówek strony -->
<header>
    <h1>System Dowozów Gastronomicznych</h1>
</header>

Przejdz do sekcji menu, aby przejrzec nasza oferte

<!-- Treść strony -->
<div id="content">
    <!-- Tutaj dodaj kod specyficzny dla każdej podstrony (strona główna, menu, logowanie, rejestracja, itp.) -->
</div>

<!-- Stopka strony -->
<footer>
    <p>&copy; 2023 System Dowozów Gastronomicznych. Wszelkie prawa zastrzeżone.</p>
</footer>

</body>
</html>

{% endblock content %}