{% extends 'gastro_app/navbar.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order History</title>
  <link rel="stylesheet" type="text/css" href="{% static 'path/to/client_styles.css' %}">
</head>
<body>

{% block content %}
  <div class="container mt-5">
    <div class="container text-center">
      <h1 class="font-weight-bold"><h2 class="text-white">Your Order History</h2>
    </div>
    <div class="menu-container">
      <ul class="list-group order-list">
        {% for order in orders %}
          <li class="list-group-item order-item bg-dark text-white mb-3">
            <div class="d-flex justify-content-between align-items-center">
              <div class="order-info">
                {% if order.status.name %}
                <span class="font-weight-bold"><a href="{% url 'order_status' order.id %}"><button class="btn btn-success place-order-btn">Order #{{ order.id }}</button></a> - Status: {{ order.status.name }}</span>
                {% else %}
                <span class="font-weight-bold"><a href="{% url 'order_status' order.id %}"><button class="btn btn-success place-order-btn">Order #{{ order.id }}</button></a> - Status: oczekujące</span>
                {% endif %}
                <p class="card-text">Total price is <strong>${{order.total_price}}</strong></p>
                <p>Placed {{ order.order_date|timesince }} ago</p>
              </div>            
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}

</body>
</html>
