{% extends 'gastro_app/navbar.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
            body {
      background-color: #1e1e1e;
      color: #fff;
    }
    </style>
</head>
<body>
    <div class="container mt-5" style="color: #fff;">
        <h3 class="mb-4">This is your ({{request.user}}) unique order link</h3>
        <div class="card mt-4" style="background-color: #333; color: #fff;">
            <div class="card-body">
                {% if order.status %}
                    <p class="card-text">Order status is <strong>{{order.status}}</strong></p>
                {% else %}
                    <p class="card-text">Order status is waiting for confirmation</p>
                {% endif %}
    
                <p class="card-text">Total price is <strong>${{order.total_price}}</strong></p>
                <p class="card-text">Address: <strong>{{ request.user.client.address }}</strong></p>
                <p class="card-text">Placed {{ order.order_date|timesince }} ago</p>
    
                <h5 class="mt-4 mb-3">Order Items</h5>
                <ul class="list-group">
                    {% for order_item in order.orderitem_set.all %}
                        <li class="list-group-item" style="background-color: #555; color: #fff;">
                            <span class="badge badge-dark">{{ order_item.quantity }} ✖️</span>
                             {{ order_item.product.name }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock content %}
